.painting-inventory-container {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 1em;
    min-height: 50vh;
    color: #fff;
    background: #151515;
    text-align: center;
    transform: translateY(-200%);
    transition: all 0.75s ease-out;
    text-align: center;
}

.painting-inventory-container.active {
    transform: translateY(0);
}

.painting-inventory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.painting-inventory img {
    border: solid 0.3em #fff;
    border-radius: 1em;
    padding: 0.75em;
    margin: 0.75em 1em;
    height: 10em;
    width: 10em;
}
